/* General structure */

html { font-size: 14px; }
@media (min-width: 576px) { html { font-size: 15px; } }
@media (min-width: 768px) { html { font-size: 16px; } }
@media (min-width: 992px) { html { font-size: 18px; } }
@media (min-width: 1200px) { html { font-size: 24px; } }

body { background-color: #FAF8FF; } /* slight purple hue */

section { padding: 2rem 0; border-bottom: 2px dashed #eee; border-top: 2px dashed #eee; }

section:first-child { border: none; }
section:nth-child(2) { border-top: none; }

section:nth-child(odd) { background-color: #FEFCFF; }

.section__heading { text-align: center; margin-bottom: 1rem; }
	.section__title { font-size: 2rem; }
	.section__subtitle { font-size: 1rem; }

.section__text { max-width: 32rem; margin: auto; }

.btn-primary {
	border: none;
	background-color: #451366; /* fallback for linear-gradient */
	background: linear-gradient(to bottom, #580060 0%, #32276D 100%);
}




/* Utilities */

.horizontal-scroll { overflow-x: auto; }



/* Hero header */

.hero {
  color: white;
  text-transform: uppercase;
  background-color: #451366; /* fallback for linear-gradient */
  background: linear-gradient(to bottom, #580060 0%, #32276D 100%);
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  display: flex; flex-direction: column; justify-content: center;
}

.hero__heading { height: 5.5rem; text-align: center; }
.hero__heading__title { display: block; font-size: 1.4em; }
.hero__heading__subtitle { display: block; font-size: .5em; }



/* Restaurant list */

.restaurants { padding: .5rem; /*cursor: move; cursor: -webkit-grab;*/ }
.restaurant {
	margin: .5rem;
	min-width: 14rem; max-width: 70vw;
	position: relative;
	padding-bottom: 1.25rem; /* balancing the restaurant__price */
}

.restaurant:hover { cursor: pointer; box-shadow: 0 0 .5rem 5px rgba(0,0,0,.25); }

.restaurant__price { text-align: right; font-size: 1.2em; position: absolute; bottom: 1.25rem; right: 1.25rem; }
.restaurant__price::after { content: '/pers'; font-size: .8em; opacity: .8; }

.offer-link { text-decoration: none !important; color: inherit; }
.offer-link:hover { color: #451366; }


/* How does it work */

.triplet { padding: .5rem; margin: -1rem 0; }

.triplet-item {
	text-align: center;
	margin: .5rem;
	min-width: 14rem;
	max-width: 70vw;
	background-color: #FAF8FF;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding: 1.25rem;
}
.triplet-item__image {  }
.triplet-item__title { font-size: 1.35rem; margin-top: 1rem; margin-bottom: .2rem; }
.triplet-item__body { padding: 0 1rem; }


/* Newsletter Form */

#newsletterForm.success { display: none; }
.form-confirmation { display: none; }
#newsletterForm.success + .form-confirmation { display: block; }